<%- include('../partials/head') %>
<body>

    <%- include('../partials/navbar') %>

    <div class="container mt-5">
        <h1>My Profile</h1>
        <p>Username: <%= profileData.username %></p>
        <p>Email address: <%= profileData.email %></p>
        <p>Account creation date: <%= profileData.createdAt %></p>
        </div>

</body>
</html>