<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="container mt-5">
    <h1>Добре дошли в дашборда, <%= user.username %>!</h1>
    <p>Вашият имейл адрес: <%= user.email %></p>

    <% if (query.login_success) { %>
        <div class="alert alert-success mt-3">
            Успешно Влизане!
        </div>
    <% } %>

    <p><a href="/logout" class="btn btn-danger">Излизане</a></p>
</div>

<%- include('../partials/footer') %>