<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="container mt-5">
    <h1>Welcome to the dashboard, <%= user.username %>!</h1>
    <p>Your email address: <%= user.email %></p>

    <% if (query.login_success) { %>
        <div class="alert alert-success mt-3">
            Successfull log in!
        </div>
    <% } %>

    <p><a href="/logout" class="btn btn-danger">Logout</a></p>
</div>

<%- include('../partials/footer') %>