<%- include('../partials/head') %>
<body>

    <%- include('../partials/navbar') %>
    <button class="btn btn-outline-primary btn-sm mb-3"
    onclick="addLeagueToFavourites('<%= selectedLeague.identifier %>')">Add to Favourites</button>
    <div class="date-picker-container">
        <form action="/leagues/bulgarian-first-league" method="GET">
            <label for="matchDate">Select Date:</label>
            <input type="date" id="matchDate" name="date" value="<%= selectedDate %>">
            <button type="submit">View Matches</button>
        </form>
    </div>
    
    
    <%- include('../partials/fixtures-container') %>

    <%- include('../partials/favouritesScript') %>

    <%- include('../partials/footer') %>
</body>
</html>