<%- include('../partials/head') %>
<body>

    <%- include('../partials/navbar') %>

    <div class="date-picker-container">
        <form action="/leagues/bundesliga" method="GET">
            <label for="matchDate">Select Date:</label>
            <input type="date" id="matchDate" name="date" value="<%= selectedDate %>">
            <button type="submit">View Matches</button>
        </form>
    </div>

    <%- include('../partials/fixtures-container') %>

    <%- include('../partials/footer') %>

</body>
</html>

<!-- 1) Да се оправят страниците за другите лиги за да се зареьдат данни и за тях не само за премиър лииг
2)да се провери раутера дали всички пренасочвания работят
3)да се тесват всички страници дали се записват обектите в БД
4)да се тобави сърч бар за по-голямо удобства на потребителя
5)базов UI дизайн ;( -->