<%- include('../partials/head') %>
    <%- include('../partials/navbar') %>

    <div class="container"> 

        <div class="league-list-container">
            <h4 class="mb-3 text-primary mt-3">
                Популярни Лиги
            </h4>
            <% if (leagues && leagues.length > 0) { %>
                <div class="list-group list-group-flush">
                    <% leagues.forEach(league => { %>
                        <a href="/leagues/<%= league.identifier || league.apiId %>" 
                           class="list-group-item list-group-item-action bg-transparent border-secondary text-light px-3 py-2 d-flex align-items-center league-nav-item">
    
                            <% if (league.logoUrl) { %>
                                <img src="<%= league.logoUrl %>" alt="" class="me-2" style="margin-right:2%; width: 24px; height: auto; object-fit: contain;">
                            <% } else { %>
                                <span class="me-2" style="width: 24px; display: inline-block;"><i class="bi bi-shield-fill text-muted"></i></span> 
                            <% } %>
                            
                            <span class="flex-grow-1"><%= league.name %></span>
          
                            <i class="bi bi-chevron-right small ms-auto"></i> 
                        </a>
                    <% }); %>
                </div>
            <% } else { %>
                <p>В момента няма първенства.</p>
            <% } %>
        </div>
        <div class="main-content mt-3">
            <h2>Днешните срещи</h2>
            <p>Избери лига от списъка за да видиш мачовете.(В процес на разработка)</p>
        </div>
    
    </div>
    <%- include('../partials/footer') %>
